[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
open-autonomy = {version = "==v0.11.1", extras = ["all"]}
open-aea-ledger-ethereum = "==1.38.0"

[dev-packages]

[requires]
python_version = "3.10"
